<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="someTestTasks">

    <test name="test_01">
        <classes>
            <class name="tests.TestBase"/>
            <!--<class name="tests.TestTutBy"/>-->
            <class name="tests.TestOnliner"/>
            <class name="tests.TestUploadDownload"/>
        </classes>
    </test>


</suite>